/bootstrap/cache
/node_modules
/nbproject
/public/alerts/
/public/documents/
/public/hot
/public/logo/
/public/service_engineer_application/
/public/storage
/public/storage/log
/public/uploads
/storage/*.key
/storage/framework/laravel-excel/
/vendor
/vendor.bak
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.loged 
.env
.phpunit.result.cache
.htaccess