.bxs{
	box-shadow: 0px 4px 5px grey;
	}
/*horizontal line*/
.first_hori_line{
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.heading{
	padding: 15px 50px 10px 0px;
	font-size: 18px;
}
.trip_row{
    font-size: 12px;
}
.border1{
	border: 1px solid black;
  	padding: 10px 50px 85px 10px;
}
.border2{
	border: 1px solid black;
  	padding: 10px 20px 10px 20px;
}
.main_heading{
	font-size: 20px;
}
.updown_border{
	border: 1px ;
	border-style: groove;
}
.table{
	width:100%
}
.table1{
	border-collapse: separate;
    border-spacing: 5px;
}
.table2{
	border-collapse: separate;
    border-spacing: 6px;
    width:100%;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 3s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.cash_recep {
    background-color: white;
    margin-top: 29px;
    margin-left: 0px;
    width:100%;
}
.borderhead{
	margin-left: 15px;margin-right: 15px;
	border: 1px solid black;
  	padding: 10px 60px 82px 60px;
}
.head{
	margin-left: 15px;

}
.etm-data {
    
   margin-top: 28px;
    border: 1px solid black;
    padding: 19px 0px 116px 3px;
}
.manual-data {
    
   margin-top: 28px;
    border: 0px solid black;
    padding: 19px 0px 116px 3px;
}
.etm_data {
    
  
    border: 2px solid black;
    padding: 11px 20px 56px 37px;
}
.manual-ticket-details{
   border: 2px solid black;

}
 * {
        box-sizing: border-box;
    }

    .menu {
        float: left;
        width: 35%;
        text-align: center;
        border-style: ridge;
    }

        .menu a {
            background-color: #e5e5e5;
            padding: 8px;
            display: block;
            width: 100%;
            color: black;
        }

    .main {
        float: left;
        width: 30%;
        border-style: ridge;
    }

    .right {
        float: left;
        width: 35%;
        border-style: ridge;
    }

    @media only screen and (max-width:620px) {
        /* For mobile phones: */
        .menu, .main, .right {
            width: 100%;
        }
    }


    .card {
    width: 18rem;
    position: fixed;
    margin-top: 8px;
    z-index: 999999;
    background-color: #ffbb3387;
    /* background-color: #ffffffd4; */
    border-radius: 35px;
    margin-left: 64%;
    /* margin-right: 10px !important; */
}

a.btn.btn-block.btn-social.btn-bitbucket {
    border-radius: 10px;
}

h2.card-title {
    margin-left: 20px;
    color: #fff;
}
span#online_status {
    margin-left: 17px;
    /* padding-bottom: 11px; */
    color:#fff;
}
.col-sm-12.social-buttons {
    margin-top: 6px;
}

.cover_status {
    padding-left: 18px;
}
a.btn {
    margin: 3px;
}
