<style>
.btn-pop {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    background-color:#ccc;
    border: 1px solid transparent;
    padding: 0 .25rem;
    line-height: 2;
         font-size:.75rem!important;
    border-radius: .25rem;
    margin:0 .1rem .5rem .1rem;
    color:#000;font-family:sans-serif;float:left;}
.btn-pop:hover {background:#f7b018;font-family:sans-serif;}
.btn-pop img{vertical-align: middle;}
.main-txts img{vertical-align: middle;}
.main-txts{margin:0 0 .5rem .2rem!important;float:left;width:100%;font-family:sans-serif;}
.text-offline{text-align: left!important;margin-bottom:0!important;color:#000;font-family:sans-serif;float:left;width:100%;}
.Lasttxt{
    font-size:.8rem;
    color:#e83e8c;text-align:left;font-family:sans-serif;}
</style>