/* Style the tab */

 body{
  padding-bottom: 0px;
 }
  .tablehighlight{
    background-color: #f0b102;
    color: #040404;
}
.vehicle_details_table_row{
  cursor: pointer;
}

.monitoring_subtab {
  overflow: hidden;
    margin-left: 0%;
    margin-right: 1.05em;
}

.h6_1{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_2{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_3{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_4{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_5{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_6{
margin-left: 16%;
margin-top: -1.5%;
}

/* Style the buttons inside the tab */
.monitoring_subtab a {
  background-color: inherit;
  float: left;
  border:grey;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #3a3a3a;
}

/* Change background color of buttons on hover */
.monitoring_subtab a:hover {
     background-color: #f0b102;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* Create an active/current tablink class */
.monitoring_subtab a.active {
    background-color: #f0b102;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.vehicle-container{
    width: 98%;
    margin: 0px auto;
}

.page-wrapper_new.page-wrapper-1 {
    padding: 0;
}
.vechile-list-top{
   /* background: #0ea4d2;
    color: #fff;*/
    border-bottom: 0;
    text-transform: uppercase;
    font-weight: 700!important;
    font-size: 1.1em;
}


.vehicle-container .page-item.active .page-link {
    background-color: #0ea4d2;
    border-color:#7d7a7a;
}
.vehicle-container .page-link:hover {
    z-index: 2;
    color: #fff;;
    text-decoration: none;
    background-color: #f0b102;
    border-color: #dde2e6;
}
.moni-detail-container{
  width: 98%;
    margin: 0px auto;
    margin-top: 43px;
}
.monitoring_subtab li:first-child a{
    background-color: #f0b102;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.vechile-container{
       width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
}
.monitoring_details{
    /*max-height: 250px;
    overflow-y: scroll;*/
  }
.detail-list-outer{
  width: 100%;
  float: left;
  display:  block;
}
.vechile-detail-list-inner{
  width: 30%;
  float: left;
}
.vechile-detail-list-inner h3{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;}

    .vechile-detail-content
    {
          width: 100%;
    float: left;
    font-size: 0.9em;
    line-height: 29px;

    }

    .acc-container {
  width:98%;
  margin:30px auto 0 auto;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  overflow:hidden;
}

.acc-btn { 
    width: 100%;
    margin: 0 auto;
    padding: 0px 25px;
    cursor: pointer;
    background: #f2f2f2;
    border-bottom: 1px solid #d4d4d4;
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#f7f7f7;
}

.acc-content-inner {
     padding: 6px 0 24px 17px;
    float: left;
    width:100%;
}

.open {
  height: auto;
}

.selected {
    color: #525252;
    font-weight: normal;
    font-size: 18px;
    padding-top: 11px;
}
.acc-btn h1{
    font-weight: normal;
     font-size: 15px;    padding-top: 11px;
}

.table .vehicle_details_table_row td{
    padding: 0.6em 0;
    font-size: 14px;
    border: 1px solid grey;
  }
    tr.vechile-list-top th{
     padding: 0.6em;
    font-size: 18px;
    font-weight: 800!important;
    border: 1px solid grey;
    border-bottom: 1px solid grey!important;

  }

    .tbody-inner {
    height: 200px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}

.table tr.vehicle_details_table_row:nth-child(even) {background-color: #aba8a857;}

.table tr.vehicle_details_table_row:nth-child(even).tablehighlight {
    background-color: #f0b102;
    color: #040404;
}

.top{
  position: relative;
}

.bg_image{
  position: absolute;
  left: 140px;
  opacity: 0.16;
  top: 130px;
}

#accordion {
  margin-top: 20px;
}
#accordion1 {
  margin-top: 20px;
}

.button {
    padding: 10px 22px;
    background-color: #f2f2f2;
    color: #5f5f5f;
    cursor: pointer;
    width: 98%;
    display: block;
    float: left;
    margin: 0 auto;
    border-bottom: 2px solid white;
    margin-bottom: 5px;

}

.button:hover {
    background-color: #f0b102;
    color: #fff;

}

.slide {
    max-width: 96%;
    float: left;
    /* margin: 0 auto; */
    margin-left: 2%;
}

.button.active {
    background-color: #f0b102;
    color: #fff;
  
}
.list-display{
    width: 100%;
    float: left;
    display: block;
    font-size: 14px;
    padding-bottom: 7px;
}
.list-display p{
    width: 175px;
    float: left;
    margin: 0;
    padding: 0;
}
.list-display span{
  width: auto;
  float: left;
  padding-left: 15px;}
.list-outer-bg{
  width: 98%;
    padding: 15px 0%;
    float: left;
    margin-bottom: 8px;
    display: block;
    background: none;
}
.acc-btn{
      padding: 8px 22px;
    background-color: #f2f2f2;
    color: #5f5f5f;
    cursor: pointer;
    width: 99%;
    display: block;
    float: left;
    margin: 0 auto;
    border-bottom: 2px solid white;
  }
  .acc-btn h1{
  font-size: 18px;
    font-weight: normal;
    padding-top: 0px;
    line-height: 1.5em;
    margin-bottom: 0;
  }
  .table-outer{
    padding: 0;
    float: left;
    width: 99%;
    margin: 0;
  }
   .table-outer table{
  width: 100%;
    float: left;
    margin-top: 20px;
        border: 1px solid #ccc;
  }

  .table-outer table tr th{
    text-align: center;
    font-weight: normal;
    background: #dad9d9;
 padding: 3px 5px;
     font-size: 15px;
  }
  .table-outer table tr td {
    text-align: center;
    padding: 5px 5px;
    font-size: 14px;
  }
  .sub-div{
  width: 98%;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  display: block;
  }
.modal-content button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color!important;
}

  /* MODAL FADE LEFT RIGHT BOTTOM */
.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

.modal.right .modal-dialog {
  position:absolute;
  top:0;
  right:0;
  margin:0;
  max-width: 1000px;
}

.modal.left .modal-dialog {
  position:absolute;
  top:0;
  left:0;
  margin:0;
}

.modal.left .modal-dialog.modal-sm {
  width: 800px;
  max-width:800px;
}

.modal.left .modal-content, .modal.right .modal-content {
  min-height:100vh;
  border:0;
      width: 800px;
    max-width: 800px;
    position: relative !important;
}
body{
      padding: 0 !important;
}

.right-sider-inner{
  width: 100%;
  float: left;
}
.right-sider-inner-left{
    width: 48.5%;
    float: left;
    border: 1px solid #e2e2e2;
    padding-bottom: 2%;
    background: #efefef;
}

.modal.fade .modal-dialog {
   -webkit-transition: -webkit-transform 0.3s ease-out !important;; 
   transition: -webkit-transform 0.3s ease-out !important;; 
    -o-transition: transform 0.3s ease-out;
   transition: transform 0.3s ease-out;
     transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out !important;;
    -webkit-transform: translate(0, -0%) !important;;
    -ms-transform: translate(0, -0%) !important;;
    transform: translate(0, -0%) !important;; 
}


.foat-right{float: right;}

.close{
    font-size: 30px;
    z-index: 999;
    opacity: 1;
    float: left;
    width: 5%;
    margin-top: 2%;
  }

  #trigger {
  background: #e74c3c;
  color: white;
  display: inline-block;
  padding: 16px 32px;
  float: right;
  margin: 16px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.25s ease-in-out;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #c0392b;
}

#trigger:hover { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }

#trigger.active {
  background: #c0392b;
  transition: all 0.75s ease-in-out;
}

#menu {
  background: #2c3e50;
  position: absolute;
  padding: 0 64px;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  z-index: 10;
  transform: translate(-150%, 0px);
  transition: all 0.75s ease-in-out;
}

#menu ul {
  margin: 16px 0;
  padding: 0;
  color: white;
  list-style: none;
}

#menu ul li {
  margin: 16px 0;
  transition: all 0.25s ease-in-out;
}

#menu ul li:hover {
  color: #bdc3c7;
  cursor: pointer;
}

#menu.active {
  -webkit-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
  transition: all 0.75s ease-in-out;
}

#content { color: #2c3e50; }

#content p,h1,.jquery-script-ads {
  padding: 16px 50px;
  line-height: 2;
  width: 728px;
  font-weight: 500;
}
.search-top{
      width: 90%;
    float: left;
    margin-left: 1%;
}
.search-top input{
    background: none;
    border: 1px solid #cacaca;
}

.search-top [type="submit"]{
    background: #cecac9;
    outline: none;
    /* border: 1px solid #f0b102; */
    /* color: #fff; */
    padding: 1px 7px;
  }

    .list-display p span{
         float: right;
    text-align: right;
    }
    .close-bt{
          width: 97%;
    float: right;
    display: block;
    margin-bottom: 5px;
    margin-top: 8px;
    }
 .close-bt button.close{
        background: #FFC107;
    float: right;
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 3px;
    color: #fff;
  }
  .close-bt button.close:hover{
   background: #696969;
  }
  .table-outer{
        max-height: 500px;
    overflow-y: auto;
  }

   .is-hidden--off-flow {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: -10;   /* *1* */
  visibility: hidden;   /* *1* */
}


.l-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}

.l-modal__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background: #161616;
  opacity: 0.92;
  z-index: -1;
  cursor: pointer;
}

.l-modal__body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.c-popup {
    display: inline-block;
    text-align: center;
    background: white;
    max-width: 400px;
    width: 90%;
    line-height: 1.48;

    border-radius: 7px;
    background: #ccc;
}
.l-modal .l-modal__shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background: #0000008f;
    opacity: 0.92;
    z-index: -1;
    cursor: pointer;
}
.l-modal__body a{
    background: #b9b9b9;
    width: 100%;
    float: left;
    padding: 6px 0;
    color: #fff;
    font-weight: bold;
    text-align: right;
        font-size: 20px;
      border-top-left-radius: 7px;
    padding-right: 4%;
      border-top-right-radius:7px;
  }
.l-modal__body a:hover{
color: #000;
  }
.l-modal__body p{
float: left;
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 22px 0;}

.modal {
    background:#4e4e4ec7;
}
.modal-dialog .modal-content {
      height: auto;
   /* margin-top: 15%;*/
    overflow-y: scroll;
    max-height: 70%;
}

.modal-dialog .modal-body {
    padding: 0 0 1rem 0;
}
.each_popup_alert{
  width:100%;
    float: left;
padding: 0px 0 7px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 7px;
}
.modal-title
{
      width: 100%;
    float: left;
    text-align: center;
    color: #f00;
    font-size: 20px;
    text-transform: uppercase;
}

.each_popup_alert:nth-child(odd){
      background: #fdc9c9;
}
.each_popup_alert:nth-child(even){
    background:#e6e5e5;
}
.each_popup_alert button{
  border:0;
     background: #0ea4d2;
  outline: none;
  padding: 4px 7px;

  font-size: 14px;

}
.each_popup_alert button a{
  color: #fff;
    border-radius: 7px;
}
.each_popup_alert button:hover{
  background: #f00;
  color: #fff;
}
.each_popup_alert button a:hover{
  color: #fff;
}.each_popup_alert p{
  margin-bottom: 7px;
}
ul.monitor_tab_for_map {
   width: 45%;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 1%;
}
ul.monitor_tab_for_map li{
     width: 100px;
    float: left;
    display: inline-block;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 5px 0;
    color: #fff;
    }
    ul.monitor_tab_for_map li a{
      color: #fff;

    }
    .vst-theme-color{
      background: #f0b102 !important;
    }
    .search-1{
          float: right;
    width: 300px;
    }
    .alert-page-dispaly{
    width: 98%;
    padding: 5px 1% 0;
    float: left;
    margin-top: 5px;
    margin-left: 1%;
    }
 .alert-page-dispaly .eam-each_alert{
    width: 100%;
    float: left;
    margin-right: 1%;
    text-align: center;
    padding: 0px 0 0px;
  }
  .bt-1{
    border: 0; padding: 6px 8px;border-radius: 5px;

background: #17a3d2; /* Old browsers */
  }
  .bt-1 a
  {
        color: #fff;
    font-size: 14px;
  }
    .bt-1 a:hover{
      color: #fff;
    }

    .bt-2{
    border: 0; padding: 5px 8px;border-radius: 5px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#17a3d2+0,f70303+0,f48181+100 */
background: #17a3d2; /* Old browsers */
background: -moz-linear-gradient(left,  #17a3d2 0%, #f70303 0%, #f48181 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #17a3d2 0%,#f70303 0%,#f48181 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #17a3d2 0%,#f70303 0%,#f48181 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a3d2', endColorstr='#f48181',GradientType=1 ); /* IE6-9 */
color: #fff;
  }
  .bt-2 a
  {
        color: #fff;
    font-size: 14px;
  }
    .bt-2 a:hover{
      color: #fff;
    }
    .search-1 .search-top [type="submit"]
    {
border: 0px;
    padding: 5px 8px;
    background: #f0b102;
    color: #FFF;
    }
    .search-1 .search-top input {
    background: none;
    font-size: 14px;
    padding: 3px 1px;
    border: 1px solid #cacaca;
}
.mlt-alert{
  width: 100%;
  float: left;
}
.mlt-alert p{
  margin: 15px;
}
.mlt{
  cursor: pointer;
  background-color: grey;
}
.alert-page-dispaly .eam-each_alert p
{
  padding: 10px 0 10px;
  color: #4c4c4c;
  font-size: 16px;
  width: 70%;
  float: left;
  text-align: left;
  margin-bottom: 0;
}

   .alert-page-dispaly:nth-child(odd){
      background: #ffe9e9;
}
.alert-page-dispaly:nth-child(even){
    background:#efe9e9;
  
}
.alert-page-dispaly:first-child{
  margin-top: 30px;
}
.alert-page-dispaly .eam-each_alert p.t-alert{
  width: auto;
  float: left;
  background: #f62020;
  text-align: center;
  padding: 5px 10px 3px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}

#eam_body{
  font-size: 15px;
      padding: 5px;
  float: left;
}
.p-padding{
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
#critical_alerts_table{
  height: auto;
  max-height: 400px;
  overflow-y: scroll;
}
table
{
  text-align: center;
}