/* Style the tab */

 
  .tablehighlight{
  background-color: #FAAC58;
}
.vehicle_details_table_row{
  cursor: pointer;
}

.monitoring_subtab {
  overflow: hidden;
    margin-left: 0%;
    margin-right: 1.05em;
}

.h6_1{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_2{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_3{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_4{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_5{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_6{
margin-left: 16%;
margin-top: -1.5%;
}

/* Style the buttons inside the tab */
.monitoring_subtab a {
  background-color: inherit;
  float: left;
  border:grey;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #3a3a3a;
}

/* Change background color of buttons on hover */
.monitoring_subtab a:hover {
     background-color: #f0b102;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* Create an active/current tablink class */
.monitoring_subtab a.active {
    background-color: #f0b102;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.vehicle-container{
    width: 98%;
    margin: 0px auto;
}

.page-wrapper_new.page-wrapper-1 {
    padding: 0;
}
.vechile-list-top{
       background: #f0b101;
    color: #fff;
    border-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}
.vehicle-container tr:nth-child(even) {background-color: #f2f2f2;}

.vehicle-container .page-item.active .page-link {
    background-color: #f0b102;
    border-color: #f0b102;
}
.vehicle-container .page-link:hover {
    z-index: 2;
    color: #fff;;
    text-decoration: none;
    background-color: #f0b102;
    border-color: #dde2e6;
}
.moni-detail-container{
  width: 98%;
    margin: 0px auto;
    margin-top: 43px;
}
.monitoring_subtab li:first-child a{
    background-color: #f0b102;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.vechile-container{
       width: 100%;
    margin: 0px auto;
    padding-bottom: 40px;
}
.monitoring_details{
    max-height: 250px;
    overflow-y: scroll;
  }
.detail-list-outer{
  width: 100%;
  float: left;
  display:  block;
}
.vechile-detail-list-inner{
  width: 30%;
  float: left;
}
.vechile-detail-list-inner h3{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;}

    .vechile-detail-content
    {
          width: 100%;
    float: left;
    font-size: 0.9em;
    line-height: 29px;

    }

    .acc-container {
  width:98%;
  margin:30px auto 0 auto;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  overflow:hidden;
}

.acc-btn { 
    width: 100%;
    margin: 0 auto;
    padding: 0px 25px;
    cursor: pointer;
    background: #f2f2f2;
    border-bottom: 1px solid #d4d4d4;
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#f7f7f7;
}

.acc-content-inner {
  padding:30px;
}

.open {
  height: auto;
}

.selected {
    color: #525252;
    font-weight: normal;
    font-size: 18px;
    padding-top: 11px;
}
.acc-btn h1{
    font-weight: normal;
     font-size: 15px;    padding-top: 11px;
}
.table .vehicle_details_table_row td{
    padding: 0.6em 0;
    font-size: 14px;}
    tr.vechile-list-top th{
           padding: 0.6em;
    font-size: 16px;}

    .tbody-inner {
    height: 200px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}
