/* Style the tab */

 
  .tablehighlight{
  background-color: #FAAC58;
}
.vehicle_details_table_row{
  cursor: pointer;
}

.monitoring_subtab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-left: 1%;
}

.h6_1{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_2{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_3{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_4{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_5{
margin-left: 16%;
margin-top: -1.5%;
}
.h6_6{
margin-left: 16%;
margin-top: -1.5%;
}

/* Style the buttons inside the tab */
.monitoring_subtab a {
  background-color: inherit;
  float: left;
  border:grey;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.monitoring_subtab a:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.monitoring_subtab a.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
